# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.E-Commerce-API.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\liuzh\RiderProjects\E-Commerce-API\.idea\.idea.E-Commerce-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
